#navbar{

}


#containterAfterNav
{
	position: relative;
	width:100%;
	margin-top:4%;
	
}
#containterAfterNav2
{
	position:relative ;
	width:100%;
	margin-top:1%;
	
}

#containterAfterNav3
{
	position:relative; 
	width:100%;
	margin-top:8%;
	
}

#containterAfterNav4
{
	position:relative ;
	width:100%;
	margin-top:10%;
	
}